body {
  margin: 0;
  padding: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    width: 100%;
    height: 100vh; 
    font-family: sans-serif;
    margin: 0px;
}

.box {
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(8, 139, 226);
    font-size: 20vh;

  }
  .box3 {
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(158, 158, 158);
    font-size: 5vh;

  }
.box4 {
      -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(226, 102, 8);
    font-size: 20vh;
  }